SwiftUIDesignProject.xcodeproj/project.xcworkspace/xcuserdata/brandon.xcuserdatad/UserInterfaceState.xcuserstate
SwiftUIDesignProject.xcodeproj/xcuserdata/brandon.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
